@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*{
  font-family: "DM Sans", sans-serif !important;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.MuiButton-root {
  border-radius:5px;
  padding: 10px 25px;
  text-transform: none !important;
  transition: ease-out 0.25s !important;
}
button.MuiButton-root:hover{
  transform: scale(1.04);
}
.MuiTypography-root{
  font-weight: 500 !important;
  text-transform: none !important;
}
.MuiMenu-paper{
  border-radius: 15px !important;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 10px   !important;
}

@media screen and (max-width: 480px) {
  .navIcon {
    font-size: 1.8rem !important;
  }
}